---
---

.ui.menu.borderless {
  border: none;
  box-shadow: none;
}

#other-places {
  ul li {
    list-style-type:none;
    display:inline-block;
    padding-right: 10px;
    font-size: larger;
  }
}

#topics {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  h2 {width:100%;}
  >section {
    width: 40%;
    h3, h4 {
      margin-top: 10px;
    }
  }
}

$grey-color: #828282;
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    path {
      fill: $grey-color;
    }
  }
}
.projects {
  fieldset {
    display: inline-block;
    border: none;
  }
  ul.toc {
    list-style-type: none;
    font-size: small;
    li {
      display: inline;
      padding-right: 15px;
      a {
        color: gray;
        &:hover {
          color: blue;
        }
      }
    }
  }
  .project {
    &.archived,
    &.under-construction {
      color: gray;
    }
    &.archived {
      opacity: 0.5;
    }
    .status {
      color: red;
    }
    .status,
    .languages,
    .topics {
      font-size: smaller;
      font-style: italic;
    }
    .languages ul,
    .topics ul {
      display: inline;
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-style: normal;
      li {
        display: inline;
        &.primary {
          font-weight: bold;
        }
        &.secondary {
          color: gray;
        }
      }
      li:not(:last-child):after {
        content: ", ";
        color: inherit;
      }
    }
  }
}
