# General
*.log

# Jekyll
.jekyll-cache/
.jekyll-metadata
.sass-cache
/_site/

# Elm
elm-stuff/
node_modules/
elm-package.json
/static/js/projects.js

# Portfolio generator
/_data/repos.json
/static/img/thumbnails/**/thumbnail.*

# Build
/_site/

# htmlproofer
/tmp/

# rspec
spec/examples.txt

# Local Netlify folder
.netlify
