*.log
.jekyll-metadata
.sass-cache
/_data/repos.json
/_distr/
/_site/
/build/
/static/js/projects.js
/static/img/thumbnails/**/metadata.json
/static/img/thumbnails/**/thumbnail.*
/tmp/
elm-stuff/
node_modules/
elm-package.json
