doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", media="screen", href="stylesheets/stylesheet.css")
    title Oliver Steele
  body
    #header_wrap.outer
      header.inner
        a#forkme_banner(href="https://github.com/osteele") View on GitHub
        h1#project_title Oliver Steele
        h2#project_tagline
    #main_content_wrap.outer
      section#main_content.inner
        h3 Recent Projects on Github
        h4#music Music
        ul
          li
            a(href="/fingerboard") Fingerboard
            | visualizes scale patterns for fretted instruments&period;
          li
            a(href="/fretboard") Fretboard
            | Interactive chord diagrams&period;
        h4 Other
        ul
          li
            a(href="/ffmachine").
              DEC Logic Module Simulator simulates a <em>particular</em> configuration
              of DEC Logic Modules; for purposes to be revealed&period;
        p.
          You can of course see the rest of my repositories
          <a ref="https://github.com/osteele?tab=repositories">here</a>,
          and my GitHub profile page <a href="https://github.com/osteele">here</a>.
        p Other pages:
        ul
          li.
            <a href="https://github.com/osteele">Home page</a> (not updated in a while)
          li.
            <a href="https://github.com/osteele/blog"</a>Blog</a> (ditto)
          li
            a(href="www.linkedin.com/in/osteele/") LinkedIn profile page
    #footer_wrap.outer
      footer.inner
        p.
          Published with <a href="http://pages.github.com">GitHub Pages</a>
