!!! 5
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', media='screen', href='stylesheets/stylesheet.css')
    title Oliver Steele
  body
    #header_wrap.outer
      header.inner
        a#forkme_banner(href='https://github.com/osteele') View on GitHub
        h1#project_title Oliver Steele
        h2#project_tagline

    #main_content_wrap.outer
      section#main_content.inner
        h3 Recent Projects on Github

        h4#music Music
        ul
          li
            a(href='/fingerboard') Fingerboard
            | &nbsp;visualizes scale patterns for fretted instruments.
          li
            a(href='/fretboard') Fretboard
            | &nbsp;Interactive chord diagrams.

        h4 Other
        ul
          li
            a(href='/ffmachine') DEC Logic Module Simulator
            | &nbsp;simulates a <em>particular</em> configuration
            | of DEC Logic Modules; for purposes to be revealed.

        p
          | You can of course see the rest of my repositories&nbsp;
          a(href='https://github.com/osteele?tab=repositories') here
          | ,
          | and my GitHub profile page&nbsp;
          a(href='https://github.com/osteele') here
          | .
        p Other pages:
        ul
          li
            a(href='https://github.com/osteele') Home page
            | &nbsp;(not updated in a while)
          li
            a(href='https://github.com/osteele/blog') Blog
            | &nbsp;(ditto)
          li
            a(href='www.linkedin.com/in/osteele/') LinkedIn profile page

    #footer_wrap.outer
      footer.inner
        p
          | Published with&nbsp;
          a(href='http://pages.github.com') GitHub Pages
