.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

footer {font-size:12px}

footer p {
  margin-bottom:0;
  font: normal 12px/16px Palatino, "Palatino Linotype", serif;
}

footer .container {
  margin: 0 auto;
  max-width: 900px;
}
